html {
  background: #fbd1e5;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  padding: 1.5rem 0;
  font-size: min(max(1rem, 4vw), 22px);
}

body {
  background: url(/styles/birdtile.png);
}

header,
footer {
  background: #fbd1e5;
}

main {
  background: #fbd1e5;
  padding: 0;
  margin: 0 auto;
  max-width: 39.3em;
}

footer {
  height: 3em;
  padding-top: 1em;
  text-align: center;
}

body > *:not(#themap) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1 {
  color: #522d7e;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
 /* margin-top: calc((1.5rem - 2rem) + 1.5rem); */
  margin-bottom: 1.5rem;
  font-size: min(max(1rem, 8vw), 60px);
  text-align: center;
  /*vertically centre text */
  height: 5em;
  line-height: 5em;
  background: url(/styles/header-bg.svg) 1em top no-repeat;
  background-size: contain;
  text-shadow: 2px 2px 2px white;
  padding-left: 2em;
}

h1 span {
  font-size: 3em;
  color: red;
  text-shadow: 2px 2px 2px black;
}

p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p.cta {
  font-size: 1.2em;
  line-height: 1.4rem;
  text-align: center;
}

/* https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup
 {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}


#themap {
  height: 400px;
  filter: sepia(80%) hue-rotate(260deg);
}

body pre code[class*="language-"] {
    font-size: min(2.5vw, 1em);
}
figure { text-align: center; font-size: small; }

#card {max-width:100%; height: auto;}

form {text-align: center; font-size:.7em; margin-top:.5em}
form>div {display:inline-flex;}
form>div>label {margin-right:.3em;}
form>div:not(:first-of-type) {margin-left:1em;}
input[type=submit] {display:block; height:2em; margin:1em auto; font-size: 1.5em;}

/* thanks Andy / */
#audios { --auto-grid-min-size: 200px;  display: grid;  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));  grid-gap: 1rem;}}

#audios div p { text-align: center; margin: 0 auto;}
#audios img, #audios audio {display:block; margin:0 auto;}
audio {max-width:200px;}
